/* general settings */
body {
    margin: 0;
    background-color: #e2eefc;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* header */
header {
    background-color: #ffffff;
    font-size: 50px;
    padding: 10px 20px;
}

#logo {
    line-height: 50px;
    vertical-align: middle;
}

#title {
    line-height: 50px;
    vertical-align: middle;
}

/* main */
#container {
    width: 80%;
    background-color: #ffffff;
    margin: 40px auto;
    border-radius: 15px;
}

    /* buttom section */
#button-section {
    border-bottom: 2px solid #e2eefc;
    padding: 20px 50px;
}

button {
    border-radius: 5px;
    border: 1px solid #b4c1d0;
    font-size: medium;
}

.blu-button {
    background-color: #0081d1f5;
    color: #ffffff;
}

button.white-button {
    background-color: #ffffff;
    color: #b4c1d0;
}

    /* task section */
#task-section{
    padding: 3%;
}

.task {
    font-size: 20px;
}

.task-name {
    color: gray;
    font-size: 30px;
}

.task-element {
    margin: 15px 0;
}

    /* label settings */
.label {
    border: 1px solid #b4c1d0;
    border-radius: 10px;
    font-size: 8px;
    padding: 5px;
    color: #ffffff;
}

    /* color label settings */
.violette-button {
    background-color: #9200d1f5;
    color: #ffffff;
}

.green-button {
    background-color: #00ff04f5;
    color: #ffffff;
}

    /* check settings */
.check {
    border-radius: 70%;
    font-size: smaller;
    padding: 2px;

}

.check-green {
    border: 2px solid rgb(0, 255, 0);
    color: rgb(0, 255, 0);
}

.check-red {
    border: 2px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}

